/*
	Common Styles
*/
a:link {
	color: unset;
	text-decoration: none;
}
a:visited {
	color: unset;
	text-decoration: none;
}
a:hover {
	color: orange;
}
a h1:hover {
	color: orange;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.breadcrumbs {
	margin: 0.5rem 0.5rem 0 1rem;
}
.breadcrumbs a {
	text-decoration: none;
}

button {
	border-radius: 0.2rem;
	border: 1px solid gray;
	height: 2rem;
	margin: 0 0.5rem 0 0.5rem;
	padding: 0.4rem 2rem 0.4rem 2rem;
}
button:hover {
	border-radius: 0.2rem;
	border: 1px solid orange;
	transform: scale(1.07);
}

.category {
	border: 1px solid #a0a0a0;
	border-radius: 0.5rem;
	box-shadow: 4px 4px 3px #aaa5;
	margin: 0.3rem 0.3rem 0.8rem 0.3rem;
	padding: 0.8rem;
	width: 85%;
}

.centered {
	justify-content: center;
}

.container {
	display: flex;
	padding: 0.6rem;
}

fieldset {
	border: 1px solid #ddd;
	margin: 2rem 0 1rem 0;
}

#file-name {
	width: 80%;
}

footer {
	display: flex;
	justify-content: space-between;
	width: 88%;
}
footer.solo {
	justify-content: end;
}

h1 {
	background-color: gray;
	border-radius: 0.3rem 0.3rem 0 0;
	color: white;
	margin: 0;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

h1 img {
	padding-right: 1rem;
	width: 3rem;
	vertical-align: middle;
}

h2 {
	margin: 0;
}

.half {
	width: 41%;
}

label {
	font-weight: bold;
	padding-right: 0.52rem;
}

/*
	Remove arrow controls from number fields
	https://stackoverflow.com/questions/71296535/how-to-remove-arrow-on-input-type-number-with-tailwind-css
*/
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.line-item-label {
	width: 24rem;
}

p {
	font-family: sans-serif;
	line-height: 1.4;
	margin: 0;
}

#page-number {
	height: 2.4em;
	text-align: center;
	width: 3rem;
}

#pdf-view {
	border: 1px solid gray;
	height: 400px;
	width: 300px;
}

row {
	align-items: center;
	display: flex;
	margin: 1rem 0 1rem 0;
}

/* Validation row controls */
.validation-row {
	background-color: #d8d8d8;
	padding-left: 1rem;
}

.validation-row button {
	height: 2.3em;
	padding: 0;
	width: 2.3em;
}
.validation-row button img {
	height: 1.5rem;
	width: 1.5rem;
}
.validation-row #btn-delete {
	margin-left: 2rem;
}

.validation-row input[type="number"] {
	height: 2.3em;
	text-align: right;
}

.validation-row label {
	align-items: center;
	background-color: #ddd;
	display: flex;
	height: 1.5em;
	margin: 0 0.5rem 0 0.5rem;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	width: 20rem;
}