<html>
	<head>
		<title>{{pageData["appname"]}}</title>
		<script src="../static/home.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
	</head>
	<body>
		<article class="card">

			<!-- Header Title -->
			<h1><img src="{{ url_for('static', filename='robospreader.png') }}">{{pageData["appname"]}}</h1>

			<!-- Breadcrumbs -->
			<p class="breadcrumbs">
				<a href="/">Select File</a>>
				<a href="/">Choose Page</a>
			</p>

			<!-- Content -->
			<form>
				<section class="container">
					<section class="category">
						<p>Select the page containing the balance sheet:</p>
						<row>
						</row>
					</section>
					<section>
						<button id="button-previous" type="submit" formaction="/">Previous</button>
						<button id="button-next" type="submit" formaction="/choose-page">Next</button>
					</section>
				</section>
			</form>
		</article>
	</body>
</html>