<html>
	<head>
		<title>{{pageData["appname"]}}</title>
		<script src="../static/home.js"></script>
		<script src="../static/scripts/pdf.js"></script>
		<script src="../static/scripts/pdf.worker.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
	</head>
	<body>
		<article class="card">

			<!-- Header Title -->
			<h1><img src="{{ url_for('static', filename='robospreader.png') }}">{{pageData["appname"]}}</h1>

			<!-- Breadcrumbs -->
			<p class="breadcrumbs">
				<a href="/">Select Page</a>
			</p>

			<!-- Content -->
			<form method="POST" enctype="multipart/form-data">

				<!-- Top row -->
				<section class="container">

					<!-- Left pane -->
					<section class="category">
						<row>
							<p>Select the financial statement:</p>
							<button id="button-browse" type="button" onclick="browseForFile()">Browse for File</button>
						</row>
						<row>
							<input id="file-control" name="file-control" type="file" hidden="true" accept=".pdf">
							<label for="file-name">Filename:</label>
							<span id="file-name" for="file-control">No file selected</span>
						</row>
					</section>

					<!-- Right pane -->
					<section class="category">
						<row class="centered">
							<canvas id="pdf-view"></canvas>
						</row>
						<row class="centered">
							<button id="button-previous" type="button"><</button>
							<input id="page-number" type="number">
							<button id="button-next" type="button">></button>
						</row>
					</section>

				</section>

				<!-- Bottom row -->
				<footer>
					<button id="button-next" type="submit" formaction="/choose-page">Next</button>
				</footer>

			</form>
		</article>
	</body>
</html>
