<html>
	<head>
		<title>{{pageData["appname"]}}</title>
		<script src="../static/home.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
	</head>
	<body>
		<article class="card">

			<!-- Header Title -->
			<h1><img src="{{ url_for('static', filename='robospreader.png') }}">{{pageData["appname"]}}</h1>

			<!-- Breadcrumbs -->
			<p class="breadcrumbs">
				<a href="/">Select File</a>
			</p>

			<!-- Content -->
			<form method="POST">
				<section class="container">
					<section class="category">
						<p>Upload the file containing the balance sheet:</p>
						<row>
							<input id="file-control" type="file" hidden="true" enctype="multipart/form-data">
							<div id="file-name" for="file-control" class="field">No file selected</div>
							<button id="button-browse" onclick="browseForFile()">Browse</button>
						</row>
					</section>
					<section>
						<button id="button-next" type="submit" formaction="/choose-page">Next</button>
					</section>
				</section>
			</form>
		</article>
	</body>
</html>
