<html lang="en">
	<head>
		<title>{{pageData["appname"]}}</title>
		<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/pdf.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/pdf.worker.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}">
	</head>
	<body>

		<!-- Header Title -->
		<h1><img src="{{ url_for('static', filename='images/robospreader.png') }}">{{pageData["appname"]}}</h1>

		<!-------------------------------- Choose Page -------------------------------->
		<article id="choose-page" class="card">
			<form id="choose-page-form" method="POST" enctype="multipart/form-data">

				<!-- Top row -->
				<section class="container">

					<!-- Left pane -->
					<section class="category half">
						<h2>Select Page</h2>
						<row>
							<p>Click Browse to select a financial statement, and then select the page containing the balance sheet.</p>
						</row>
						<fieldset>
							<input id="file-control" name="file-control" type="file" hidden="true" accept=".pdf">

							<row>
								<label>Filename:</label>
								<span id="file-name" for="file-control">No file selected</span>
								<button id="button-browse" type="button" onclick="browseForFile()">Browse</button>
							</row>

							<row>
								<label>Pages:</label>
								<span id="num-pages" for="file-control">-</span>
							</row>

						</fieldset>
					</section>

					<!-- Right pane -->
					<section class="category half">
						<row class="centered">
							<canvas id="pdf-view"></canvas>
						</row>
						<row class="centered">
							<button id="button-previous" type="button" onclick="changePageDelta(-1)" disabled><</button>
							<input id="page-number" type="number" value="0" disabled>
							<button id="button-next" type="button" onclick="changePageDelta(1)" disabled>></button>
						</row>
						<canvas id="image-full-view" style="display: none"></canvas>
						<input id="image-buffer" name="image-buffer" type="hidden" value="" />
					</section>

				</section>

				<!-- Bottom row -->
				<footer>
					<button id="button-reset" type="button" onclick="restart(true, true)">Start Over</button>
					<button id="button-next-select" type="button" onclick="submitPage()" disabled>Next</button>
				</footer>
			</form>
		</article>

		<!-------------------------------- Validate Results -------------------------------->
		<article id="validate-results" class="card" hidden="true">
			<form method="POST" enctype="multipart/form-data">

				<!-- Top row -->
				<section class="container">
					<section class="category">

						<h2>Validation</h2>

						<row>
							<p>Validate the values and correct any errors:</p>
						</row>

						<!-- Data -->
						<section id="validation-content">
						</section>
					</section>
				</section>

				<!-- Bottom row -->
				<footer>
					<button id="button-previous" type="button" onclick="restart(false, true)">Previous</button>
					<button id="button-next-validate" type="button" onclick="acceptValidation()">Next</button>
				</footer>
			</form>
		</article>

		<!-------------------------------- Download Data -------------------------------->
		<article id="download-data" class="card" hidden="true">

			<!-- Top row -->
			<section class="container">
				<section class="category">

					<h2>Download</h2>

					<row>
						<p>Download the data in one of the following formats:</p>
					</row>
					<section>
						<button type="button" onclick="downloadData('CSV')">Download as CSV</button>
						<button type="button" onclick="downloadData('JSON')">Download as JSON</button>
					</section>
				</section>
			</section>

			<!-- Bottom row -->
			<footer class="solo">
				<button id="button-restart" type="button" onclick="restart(true, true)">Start Over</button>
			</footer>
		</article>

		<!-------------------------------- Working Page -------------------------------->
		<article id="working-page" class="card" hidden="true">

			<!-- Top row -->
			<section class="container">
				<section class="category working">
					Extracting data...
					<img src="{{ url_for('static', filename='images/Loading_icon.gif') }}">
				</section>
			</section>

		</article>

	</body>
</html>
