<html>
	<head>
		<title>Status</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}">
	</head>
	<body>

		<!-------------------------------- Status -------------------------------->
		<article id="choose-page" class="card">
			<section class="container">
				<section class="category">
					<h1>Tables</h1>
					{% for table in tables %}
						<h2>{{table["name"]}}</h2>
						{% for row in table["rows"] %}
							<row>
								<span>{{row}}</span>
							</row>
						{% endfor %}
					{% endfor %}
				</section>
			</section>
		</article>
		
	</body>
</html>
