<html>
	<head>
		<title>Document Extraction Validation Test</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
	</head>
	<body>

		<!-- Header Title -->
		<h1><img src="{{ url_for('static', filename='images/robospreader.png') }}">Document Extraction Validation Test</h1>

		<!-------------------------------- Content -------------------------------->
		<article id="choose-page" class="card">
			<section class="container">
				<section class="category">
					Content goes here
				</section>
			</section>
		</article>

	</body>
</html>
